<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/user/create}">Create new user</a>
<h1>Display all user</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    <tr th:each="user : ${users}" th:object="${user}">
        <td th:text="*{id}"></td>
        <td th:text="*{firstName}"></td>
        <td th:text="*{lastName}"></td>
        <td th:text="*{phoneNumber}"></td>
        <td th:text="*{age}"></td>
        <td th:text="*{email}"></td>
    </tr>
</table>
</body>
</html>