<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/create">
    <div>
        <label>Title</label>
        <input name="title" type="text">
    </div>
    <div>
        <label>Content</label>
        <input name="content" type="text">
    </div>
    <div>
        <label>Author</label>
        <input name="author" type="text">
    </div>
    <div>
        <label>Release Date</label>
        <input name="releaseDate" type="date">
    </div>
    <div>
        <label>Category</label>
        <select name="category">
            <option value="" selected>Choose Category</option>
            <th:block th:each="item :${categoryList}">
                <option th:text="${item.name}" th:value="${item.id}"></option>
            </th:block>
        </select>
    </div>
    <button type="submit">Create</button>
</form>
</body>
</html>